.container {
    margin-top: 20px;
    min-height: 580px;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    color: rgb(142 201 142);
}

hr:not([size]) {
    height: 2px;
}

.listes-categories h4 {
    text-align: center;
}


.creation:hover {
    background-color: black;
}

.creation {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone {
    float: right;
}

.categorie-list .row {
    align-items: center;
}