.menu {
    padding: .5% 10%;
    background-color: #ececec;

}

.green-style {
    color: rgb(142 201 142);
}

.navbar-light .navbar-brand {
    color: #898989;
}

.lien-nav li {
    width: 9vw;
    font-size: 1vw;
}